h1 { font-family: 'Arbutus Slab', serif; }

body { font-family: 'Open Sans', sans-serif; }

/*ul#postList {
    border: 1px solid black;
}*/

li.post {
    list-style-type: none;
}

li.post .postHeader {
    border: 2px solid black;    
}

li.post .postBody {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: none;
}

li.post .postTitle {
    font-weight: bold;
}

li.post .postRight {
    float: right;
    width: 27%;
    text-align: right;
}

li.post .postTags {
    padding: 0;
    margin-left: 0;
    display: inline;
    font-size: 10pt;
}

li.post .postTag {
    display: inline;
    list-style-type: none;
    background-color: black;
    color: white;
}

li.post .postTag a {
    color: white;
    text-decoration: none;
}

li.post .postTag a:hover {
    color: white;
    text-decoration: underline;
}

img#spinner {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
}