<html>
<head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
    <script language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <script language="javascript" src="/static/js/underscore.js"></script>
    <script language="javascript" src="/static/js/backbone.js"></script>
    <script language="javascript" src="/static/js/postshuffle-client.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Arbutus+Slab' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
    <title>{{ title }}</title>
    <script language="javascript">
    <!--
        // Bootstrap models when the page finishes loading.
        $(function() {
            loadUserData({{ &user_data }});
            loadInitialPosts({{ &data }});
            
            var addNonExistingTag = function(tag)
            {
                var tags = $("#newPostForm .postTag");
                var found = false;
                for (var i in tags)
                {
                    if (tags[i].innerText == tag)
                    {
                        found = true;
                        break;
                    }
                }
                if (!found)
                {
                    $("#newPostForm .postTags").append("<li class='postTag'><a href='#' onclick='this.parentNode.removeChild(this); return false;'>" + tag + "</a></li> ");
                }
            };
            
            $( "#tagBox" ).bind( "keydown", function( event ) {
                if ( event.keyCode === $.ui.keyCode.ENTER &&
                        !$( this ).data( "autocomplete" ).menu.active ) {
                    event.preventDefault();
                    var val = $( this ).val();
                    addNonExistingTag(val);
                }
            }).autocomplete({
                minLength: 0,
                source: "/tag",
                select: function( event, ui ) {
                    addNonExistingTag(ui.item.value);
                    return false;
                }
            });
            
            $( "#registrationMissingFieldsError" ).dialog({ 
                autoOpen: false,
                buttons: { OK: function() { $( this ).dialog( "close" ); } } 
            });
            
            $( "#registrationMatchingFieldsError" ).dialog({ 
                autoOpen: false,
                buttons: { OK: function() { $( this ).dialog( "close" ); } } 
            });
            
            $( "#registrationSuccessfulMessage" ).dialog({ 
                autoOpen: false,
                buttons: { OK: function() { $( this ).dialog( "close" ); } } 
            });
            
            $( "#errorDialog" ).dialog({ 
                autoOpen: false,
                buttons: { OK: function() { $( this ).dialog( "close" ); } } 
            });
            
            $( "#communicationErrorDialog" ).dialog({ 
                autoOpen: false,
                buttons: { OK: function() { $( this ).dialog( "close" ); } } 
            });
        });
    // -->
    </script>
</head>
<body>

<div id="app">
    <div id="topbar">
    </div>
    <h1>title here</h1>
    <img src="/static/img/ajax-loader.gif" id="spinner" />
    <ul id="postList">
    </ul>
    <div class="moreLink"><a href="#">load more</a></div>
    <div id="newPost">
        <form id="newPostForm">
            Title: <input type="text" id="title" size="50" value="" /><br/>
            Body: <textarea id="body" rows="5" cols="50"></textarea><br/>
            Tags: <input type="text" id="tagBox" /><ul class="postTags"></ul><br />
            <input type="button" class="addPostButton" value="Add" />
        </form>
    </div>
</div>

<div id="registrationMissingFieldsError" title="Missing Fields">
    Must fill in all fields.
</div>

<div id="registrationMatchingFieldsError" title="Fields Must Match">
    Emails and passwords must match.
</div>

<div id="registrationSuccessfulMessage" title="Registration Successful">
    Check your email for further instructions.
</div>

<div id="errorDialog" title="Error">
    Error message here.
</div>

<div id="communicationErrorDialog" title="Error">
    Error message here.
</div>

<script type="text/template" id="commentTemplate">
<div class="commentAuthor">
  by <%- author.username %>, <%- author.title %>
</div>
<div class="commentBody">
  <%- body %>
</div>
</script>

<script type="text/template" id="postTemplate">
<div class="postHeader">
    <div class="postRight">
        <div class="postDate">
            <%- new Date(create_date).toLocaleDateString() %> 
            <%- new Date(create_date).toLocaleTimeString() %>
        </div>
        Tags: <ul class="postTags">
            <% _.each(tags, function(tag) { %>
                <li class="postTag"><a href="/t/<%= tag %>"><%- tag %></a></li>
            <% }) %>
        </ul>
    </div>
    <div class="postLeft">
        <div class="postTitle"><a href="#"><%- title %></a></div>
        <div class="postAuthor">by <%- author.username %>, <%- author.title %></div>
    </div>
</div>
<div class="postBody">
    <div class="bodyText"><%- body %></div>
    <div class="commentBlock">
        <ul class="comments"></ul>
        <div class="moreLink"><a href="#">load more</a></div>
        <form class="commentForm">
            New comment:<br/>
            Body: <textarea class="commentBodyField" rows="5" cols="50"></textarea><br/>
            <input type="button" class="addCommentButton" value="Add" />
        </form>
    </div>
</div>
</script>

<script type="text/template" id="noPostTemplate">
<div class="postTitle">No posts found.</div>
</script>

<script type="text/template" id="userBarTemplate">
<div class="loginBox">
welcome <%- username %>, <%- title %>. <a href="#" class="logoutLink">logout</a>
</div>
</script>

<script type="text/template" id="loginBarTemplate">
<div class="loginBox">
<form>
Username: <input type="text" class="usernameField" />
Password: <input type="password" class="passwordField" />
<input type="button" class="loginButton" value="Login" /> | <a href="#" class="registerLink">register</a>
</form>
</div>
<div class="registerDialog">
    <form id="registerForm">
        Username: <input type="text" class="registerUsernameField" /><br />
        Password: <input type="password" class="registerPasswordField" /><br />
        Confirm password: <input type="password" class="registerConfirmPasswordField" /><br />
        Email: <input type="text" class="registerEmailField" /><br />
        Confirm email: <input type="text" class="registerConfirmEmailField" /><br />
        <input type="button" class="registerButton" value="register" /> <input type="reset" value="reset" />
    </form>
</div>
</script>
</body>
</html>
